# Conditional Statements (if, elif, else)
# Loops (for, while)

In [1]:
# Check Even or Odd

# Write a program that takes an integer input from the user and checks whether the number is even or odd.

In [3]:
def checker(num):
    if num%2==0:
        return "Even"
    return "Odd"

checker(4),checker(5)

('Even', 'Odd')

In [ ]:
# Grade Categorizer

# Write a program that takes a numerical grade (0-100) as input and outputs the corresponding letter grade:
# A: 90-100
# B: 80-89
# C: 70-79
# D: 60-69
# F: 0-59

In [11]:
def grade_categories(num):
    if 100 >= num >=90:
        return "A"
    elif 89>= num >=80:
        return "B"
    elif 79 >= num >=70:
        return "C"
    elif 69 >= num >=60:
        return "D"
    else:
        return "F"
    
grade_categories(91)

'A'

In [12]:
grade_categories(81)

'B'

In [13]:
grade_categories(71)

'C'

In [14]:
grade_categories(61)

'D'

In [15]:
grade_categories(55)

'F'

In [20]:
# Leap Year Checker

# Write a program that takes a year as input and checks if it is a leap year. A year is a leap year if:
# It is divisible by 4 and not divisible by 100, or
# It is divisible by 400.

def check_leap_year(year):
    if year%4==0 and year%100!=0 or year%400==0:
        return "Leap Year"
    return "No Leap Year"

for i in range(2000,2025):
    print("Year -> ",i,check_leap_year(i))

Year ->  2000 Leap Year
Year ->  2001 No Leap Year
Year ->  2002 No Leap Year
Year ->  2003 No Leap Year
Year ->  2004 Leap Year
Year ->  2005 No Leap Year
Year ->  2006 No Leap Year
Year ->  2007 No Leap Year
Year ->  2008 Leap Year
Year ->  2009 No Leap Year
Year ->  2010 No Leap Year
Year ->  2011 No Leap Year
Year ->  2012 Leap Year
Year ->  2013 No Leap Year
Year ->  2014 No Leap Year
Year ->  2015 No Leap Year
Year ->  2016 Leap Year
Year ->  2017 No Leap Year
Year ->  2018 No Leap Year
Year ->  2019 No Leap Year
Year ->  2020 Leap Year
Year ->  2021 No Leap Year
Year ->  2022 No Leap Year
Year ->  2023 No Leap Year
Year ->  2024 Leap Year

In [27]:
# Factorial Calculation

# Write a program that calculates the factorial of a number using both a for loop and a while loop.

def fact(num):
    if num <=1:
        return 1
    else:
        return num*fact(num-1)
    
    
fact(5)

120

In [37]:
# Fibonacci Sequence

# Write a program to generate the first 10 numbers in the Fibonacci sequence using a for loop.

def feb(num):
    if num <=1:
        return 1
    else:
        return feb(num-1)+feb(num-2)
    
for i in range(0,10):
    print(feb(i))

1
1
2
3
5
8
13
21
34
55

In [44]:
x=10
def fun():
    global x
    print(x)
    x=12
    return x

fun()

10

12