In [1]:
t=('a','b','c')

In [2]:
t

('a', 'b', 'c')

In [3]:
type(t)

tuple

In [4]:
t1='a' #or t1=('a')

In [5]:
type(t1)

str

In [6]:
t1='a',# or t1=('a',) #comma
type(t1)

tuple

In [7]:
t=tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')

In [8]:
hash(t[0])

-6788069535738371718

In [9]:
hash(t)

-6710027153221119398

In [10]:
t=(1,2,3)

# Tuples are immutable

In [3]:
t=(12,24,56,23)
hash(t)

-6612390527109193150

In [4]:
n=2

In [5]:
t=t[:n]+('test',)+t[n+1:]

In [6]:
t
hash(t)

1905528612765857518

In [7]:
t[1]=3 #errror coz immatable

TypeError: 'tuple' object does not support item assignment

tuples don't have .append and .extend methods as list does. 
 Using += is possible, but it changes the
binding of the variable, and not the tuple itself:

In [8]:
t1=(1,2,3)
t2=(2,3,4)
t3=t1+t2
t3

(1, 2, 3, 2, 3, 4)

In [23]:
t1=(1,2,3,[4,5])

In [24]:
t1[3][1]

5

# Packing and Unpacking Tuples

In [25]:
a=1,2,3

In [26]:
type(a)

tuple

In [27]:
a=(1,2,3)
type(a)

tuple

In [28]:
#to unpack

In [26]:
x,y,z=(1,2,3)

In [27]:
x,y

(1, 2)

In [28]:
first,*more,last=(1,2,3,4,5)

In [29]:
print(first," ",more," ",last)

1   [2, 3, 4]   5

# Built-in Tuple Functions

In [30]:
#Comparision

In [31]:
t1=('a','b','c')
t2=('1','2','3')
t3=('a','b','c')

In [32]:
print(t1==t2,t2==t3,t1==t3)

False False True

In [33]:
len(t1)

3

In [34]:
max(t1)

'c'

In [35]:
max(t2)

'3'

In [36]:
min(t2)

'1'

In [37]:
min(t1)

'a'

In [38]:
#convert into list

In [39]:
l=[1,2,3]
t1=tuple(l)
t1

(1, 2, 3)

In [40]:
l=list(t1)

In [41]:
l

[1, 2, 3]

In [42]:
#contcate

In [43]:
t1+t2

(1, 2, 3, '1', '2', '3')

# Tuple Are Element-wise Hashable and Equatable

In [44]:
hash((1,2))

-3550055125485641917

In [45]:
hash([1,2],{1,2})#not hasable

TypeError: hash() takes exactly one argument (2 given)

In [46]:
#indexing

In [64]:
x=(1,2,3)

In [65]:
x[1],x[2]

(2, 3)

In [66]:
print(x[::-1])

(3, 2, 1)

In [67]:
#reversed

In [68]:
rev=tuple(reversed(t1)),reversed(t1)

In [69]:
rev

((3, 2, 1), <reversed at 0x7efdc403f880>)

In [70]:
#count
t1.count(1)

1

In [71]:
t2.count("1")

1

In [72]:
#index

In [73]:
t1.index(1)

0

In [74]:
del t3

NameError: name 't3' is not defined

In [75]:
t3

NameError: name 't3' is not defined

In [76]:
a = 'a', 10, True

In [77]:
a[1]

10

In [78]:
a

('a', 10, True)

In [79]:
a = 1, 2, 3, 4, 5
a[2:4]

(3, 4)

In [80]:
a = 1, 2, 3, 4, 5
for element in a:
    print(element)

1
2
3
4
5

In [81]:
point = 10, 20, 30

In [82]:
x, y, z = point
print(x)

10

In [83]:
print(y)
print(z)

20
30

In [84]:
a = 1, 2, 3

In [85]:
id(a)

139627830291904

In [86]:
a = a + (4, 5, 6)

In [87]:
a

(1, 2, 3, 4, 5, 6)

In [88]:
id(a)

139627830201792

In [89]:
a=[1,2,3,4]

In [90]:
a

[1, 2, 3, 4]

In [15]:
[f'({i})' for i in a]

['(1)', '(2)', '(3)', '(4)']

TypeError: 'int' object is not iterable

In [9]:
b=list(zip(a))

[(1,), (2,), (3,), (4,)]

In [ ]:
b[]