In [51]:
d={}

In [52]:
d={'key':'value'}

In [53]:
d

{'key': 'value'}

In [54]:
d=dict()

In [55]:
d

{}

In [56]:
d=dict(key='value')

In [57]:
d

{'key': 'value'}

In [58]:
d=dict([('key','value')])

In [59]:
d

{'key': 'value'}

In [60]:
d['newkey'] = 42

In [61]:
d

{'key': 'value', 'newkey': 42}

In [62]:
d['new_list'] = [1, 2, 3]

In [63]:
d

{'key': 'value', 'newkey': 42, 'new_list': [1, 2, 3]}

In [64]:
d['new_list'][0]

1

In [65]:
mydict = {}

In [66]:
mydict['not there']=[1]

In [67]:
mydict

{'not there': [1]}

In [68]:
mydict['not there']

[1]

In [69]:
mydict.get("foo","bar")

'bar'

In [73]:
mydict.get('not there')

[1]

In [71]:
try:
    value=mydict[key]
except KeyError:
    value=default_value

NameError: name 'default_value' is not defined

In [74]:
d={'a':1,'b':2,'c':3}

In [75]:
for key in d:
    print(d[key])

1
2
3

In [76]:
print([key for key in d])

['a', 'b', 'c']

In [77]:
for k,v in d.items():
    print(k,v)

a 1
b 2
c 3

In [78]:
from collections import defaultdict


d=defaultdict(int)
d['key']=5

In [79]:
d

defaultdict(int, {'key': 5})

In [80]:
 fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"}
 dog = {'name': "Clifford", 'hands': "paws", 'color': "red"}

In [81]:
fish

{'name': 'Nemo', 'hands': 'fins', 'special': 'gills'}

In [82]:
dog

{'name': 'Clifford', 'hands': 'paws', 'color': 'red'}

In [83]:
fishdog={**fish,**dog}

In [84]:
fishdog

{'name': 'Clifford', 'hands': 'paws', 'special': 'gills', 'color': 'red'}

accesing Keys

In [86]:
fishdog.keys()

dict_keys(['name', 'hands', 'special', 'color'])

In [88]:
fishdog.values()

dict_values(['Clifford', 'paws', 'gills', 'red'])

In [89]:
firstdictionary={
    "name":"jay",
    "age":19
}

In [90]:
# firstdictionary.clear
# firstdictionary.copy
# firstdictionary.fromkeys
# firstdictionary.get
# firstdictionary.items
# firstdictionary.keys
# firstdictionary.pop
# firstdictionary.popitem
# firstdictionary.setdefault
# firstdictionary.update
# firstdictionary.values

In [91]:
firstdictionary['age']

19

In [92]:
firstdictionary["new val"]="this is new inserted"

In [93]:
firstdictionary

{'name': 'jay', 'age': 19, 'new val': 'this is new inserted'}

In [94]:
"name" in firstdictionary

True

In [95]:
d

defaultdict(int, {'key': 5})

In [96]:
d.clear()

In [97]:
d

defaultdict(int, {})

In [98]:
c=firstdictionary.copy()

In [99]:
c

{'name': 'jay', 'age': 19, 'new val': 'this is new inserted'}

In [100]:
{}.fromkeys('a','b')

{'a': 'b'}

In [101]:
{}.fromkeys(['a','b','c'],[0])

{'a': [0], 'b': [0], 'c': [0]}

In [103]:
c.get("name")

'jay'

In [107]:
d=dict(a=1,b=2,c=3)

In [108]:
d

{'a': 1, 'b': 2, 'c': 3}

In [109]:
square={key:value*2 for key,value in d.items()}

In [110]:
square

{'a': 2, 'b': 4, 'c': 6}

In [115]:
#example
playlist={
    'title':'pantagonia bus',
    'author':'colt steele',
    'songs':[
        {'title':'song1','artist':['blue'],'duration':2.2},
         {'title':'song2','artist':['blue','redvalvet'],'duration':2.5},
         {'title':'song3','artist':['bts'],'duration':3.4},
    ]
}

In [116]:
playlist["songs"][0]["title"]

'song1'

In [117]:
playlist["songs"][1]["artist"]

['blue', 'redvalvet']

In [118]:
playlist["songs"][1]["artist"][1]

'redvalvet'

In [119]:
t=0
for song in playlist['songs']:
    t=t+song['duration']
print(t)

8.1

In [120]:
str1="abc"
str2="123"

In [122]:
{str1[i]:str2[i] for i in range(0,len(str1))}

{'a': '1', 'b': '2', 'c': '3'}

In [123]:
{count: chr(count) for count in range(65,91)}

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}