# Tuples:

In [17]:
# Tuple Creation:

# Create a tuple named my_tuple with three elements: an integer, a float, and a string.
my_tuple=(1,2.2,"hello")
my_tuple

(1, 2.2, 'hello')

In [18]:
# Tuple Indexing:

# Access and print the second element of the tuple created in question 1.
my_tuple[1]

2.2

In [20]:
# Immutable Nature:

# Try to modify one of the elements in my_tuple and observe the result.
try:
    my_tuple[1]=2
except Exception as e:
    print(e)

'tuple' object does not support item assignment

In [22]:
# Tuple Packing and Unpacking:

# Pack three values into a tuple without using parentheses and then unpack them into three variables.
new_tuple = 1,2,4
print("tuple >>>",new_tuple)
a,b,c = new_tuple
print("a",a,"b",b,"c",c)

tuple >>> (1, 2, 4)
a 1 b 2 c 4

In [26]:
# Nested Tuples:

# Create a tuple containing two nested tuples, each representing a person's name and age.
names = ('jay','jenny','julia')
age = (24,22,21)
nested_tuple = (names,age)
nested_tuple

(('jay', 'jenny', 'julia'), (24, 22, 21))

In [28]:
# Tuple Length:

# Determine and print the length of my_tuple.
len(my_tuple)

3

In [29]:
# Tuple Concatenation:

# Create another tuple and concatenate it with my_tuple. Print the result.
new_tuple = (1,2,3)
my_tuple = my_tuple + new_tuple
my_tuple

(1, 2.2, 'hello', 1, 2, 3)

In [30]:
# Looping through Tuples:

# Use a for loop to print each element of my_tuple on a new line.
for i in my_tuple:
    print(i)

1
2.2
hello
1
2
3

In [33]:
# Tuple Comparison:

# Compare two tuples element-wise and print the result.
(1,2,3)==(1,2,3)

True

In [35]:
# Converting to Tuple:

# Convert a list of numbers into a tuple and print the tuple.
li=list(range(1,10))
tup=tuple(li)
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [41]:
# Tuple Repetition:

# Create a tuple with three elements and then repeat the tuple three times.
new_tup=(1,2,3)
print(new_tup)
new_tup = tuple(new_tup for i in range(0,3))
new_tup

(1, 2, 3)

((1, 2, 3), (1, 2, 3), (1, 2, 3))

In [42]:
# Membership Test:

# Check if a specific element is present in my_tuple.
2 in my_tuple

True

# Dictionaries:

In [50]:
# Dictionary Creation:

# Create a dictionary named student with keys 'name', 'age', and 'grade', and assign values accordingly.
student = {'name':'jay','age':30,'grade':20}
student

{'name': 'jay', 'age': 30, 'grade': 20}

In [51]:
# Accessing Dictionary Values:

# Print the age of the student from the dictionary created in question 13.
student['age']

30

In [52]:
# Adding and Modifying:

# Add a new key 'course' with a value to the student dictionary. Modify the 'grade' to reflect an improvement.
student['course'] = 'chemistry'
student['grade']=19
student

{'name': 'jay', 'age': 30, 'grade': 19, 'course': 'chemistry'}

In [53]:
# Dictionary Keys:

# Print all the keys in the student dictionary.
student.keys()

dict_keys(['name', 'age', 'grade', 'course'])

In [54]:
# Looping through Dictionaries:

# Use a loop to print both keys and values of the student dictionary.
for k,v in student.items():
    print(k,v)

name jay
age 30
grade 19
course chemistry

In [55]:
# Dictionary Length:

# Determine and print the number of items in the student dictionary.
len(student)

4

In [56]:
# Removing Items:

# Remove the 'course' key from the student dictionary and print the updated dictionary.
student.pop('course')
student

{'name': 'jay', 'age': 30, 'grade': 19}

In [48]:
# Clearing Dictionary:

# Clear all items from the student dictionary and print the empty dictionary.
student.clear()

In [57]:
# Copying Dictionaries:

# Create a new dictionary and copy the content of the student dictionary into it.
new_student = student.copy()
new_student

{'name': 'jay', 'age': 30, 'grade': 19}

In [59]:
# Dictionary Update:

# Update the student dictionary with information about the student's address.
new_student['address']="talala"
new_student

{'name': 'jay', 'age': 30, 'grade': 19, 'address': 'talala'}

In [ ]:
# Dictionary Methods:
# Dictionary Values:

# Print all the values in the student dictionary.

In [62]:
# Dictionary Items:

# Print all the key-value pairs in the student dictionary using the items() method.
for k,v in student.items():
    print(k,v)

name jay
age 30
grade 19

# Sets:

In [74]:
# Set Creation:

# Create two sets, set1 and set2, with some common elements.
set1 ={1,2,3}
set2 = {1,3,4}
print(set1,set2)

{1, 2, 3} {1, 3, 4}

In [75]:
# Set Intersection:

# Find and print the intersection of set1 and set2.
set1.intersection(set2)

{1, 3}

In [76]:
# Set Union:

# Create a new set that is the union of set1 and set2.
set1.union(set2)

{1, 2, 3, 4}

In [78]:
# Set Difference:
# Find and print the elements that are unique to set1 compared to set2.
set1.difference(set2)

{2}

In [79]:
# Check Subset:

# Check and print whether set1 is a subset of set2.
set1.issubset(set2)

False

In [80]:
# Set Symmetric Difference:

# Find and print the symmetric difference between set1 and set2.
set1.symmetric_difference(set2)

{2, 4}

In [83]:
# Adding Elements:

# Add a new element to set1 and print the updated set.
set1.add(5)
set1

{1, 2, 3, 5}

In [85]:
# Removing Elements:

# Remove an element from set2 and print the updated set.
set2.remove(4)
set2

{1, 3}

In [87]:
# Clearing Sets:

# Clear all elements from set1 and print the empty set.
set1.clear()
set1

set()

In [88]:
# Copying Sets:

# Create a copy of set2 and add a new element to the copy.
set3=set2.copy()
set3

{1, 3}

In [90]:
# Check Disjoint Sets:

# Check and print whether set1 and set2 are disjoint (have no common elements).
print(set2,set3)
set2.isdisjoint(set3)

{1, 3} {1, 3}

False

# Functions:

In [102]:
# Simple Function:

# Define a function named greet that takes a name as an argument and prints a greeting message.
def greet(name):
    return f"good morning {name}"

greet("Jaydeep")

'good morning Jaydeep'

In [104]:
# Function with Default Argument:

# Create a function named multiply that takes two numbers as arguments, with a default value of 1 for the second number. The function should return the product of the two numbers.
def multiply(a,b=1):
    return a*b

print(multiply(2,3))
print(multiply(2))

6
2

In [105]:
# Function with Variable Number of Arguments:

# Define a function named calculate_sum that takes any number of arguments and returns their sum.
def calculate_sum(args):
    return sum(args)

calculate_sum(range(0,10))

45

In [109]:
# Recursive Function:

# Implement a recursive function to calculate the factorial of a given number.

def fibonacci(n):
#     print(n)
    if n == 0:
        return 1
    else:
        return n*fibonacci(n-1)

print(fibonacci(7))

5040

In [111]:
# Function with Docstring:

# Write a function named square that takes a number as an argument and returns its square. Include a docstring explaining the function.
def square(num):
    '''this funtion will return the square of any
    passed number'''
    return num**2
print(square(2))
print(square.__doc__)

4
this funtion will return the square of any
    passed number

In [114]:
# Function with Local Variable:

# Create a function named counter that uses a local variable to count how many times it has been called. Print the count.
def counter(count=0):
    return count+1

a=counter()
b=counter(a)
c=counter(b)
print(a)
print(b)
print(c)

1
2
3

In [118]:
# Function with Global Variable:

# Define a global variable total with an initial value of 0. Write a function named add_to_total that takes a number as an argument and adds it to the global variable.
count =0
def counter(count):
    return count+1

print(counter(count))
print(counter(count))
print(counter(count))
print(count)

1
1
1
0

In [120]:
# Function with Multiple Returns:

# Implement a function named analyze_numbers that takes a list of numbers as an argument and returns the count, sum, and average of the numbers.
def analyze_numbers(args):
    return len(args),sum(args),sum(args)/len(args)

analyze_numbers(range(0,10))

(10, 45, 4.5)

In [121]:
# Function with Keyword Arguments:

# Create a function named display_info that takes name, age, and country as keyword arguments and prints the information.
def display_info(name,age,country):
    return f"name -> {name}, age -> {age},country {country}"

display_info("jay",country = 'india', age =24)

'name -> jay, age -> 24,country india'

In [122]:
# Function Composition:

# Define two functions, square and double, that take a number as an argument and return its square and double, respectively. Compose these functions to create a new function named square_and_double that takes a number, squares it, and then doubles the result.

def square(num):
    return num**2

def double(num):
    return num*2

def square_and_double(num):
    sq = square(num)
    return double(sq)

square_and_double(2)

8

# Function Arguments:

In [132]:
# Positional Arguments:

# Define a function full_name that takes two positional arguments, first name and last name, and prints the full name.

def full_name(first_name:str,last_name:str)-> str:
    return f"first name {first_name}, last name {last_name}"

full_name("jay",'talaviya')

'first name jay, last name talaviya'

In [135]:
# Default Argument Values:

# Write a function power that takes a base and an exponent as arguments, with a default value of 2 for the exponent. The function should return the result of raising the base to the exponent.

def power(base:int,exponent:int=2)-> int:
    return base**exponent

print(power(2))

4

In [140]:
# Arbitrary Keyword Arguments:

# Implement a function named print_info that takes any number of keyword arguments and prints them.

In [141]:
# Arbitrary Arguments with Unpacking:

# Define a function named average that takes any number of arguments and returns their average. Use the *args syntax for arbitrary arguments.
def average(*args):
    return sum(args)/len(args)

average(2,3,4)

3.0

In [144]:
# *Named Arguments after args:

# Create a function named display_values that takes a mandatory positional argument, followed by any number of additional values passed as keyword arguments.
def display_values(name,*args):
    return f"name -> {name},sum of args {sum(args)}"

display_values("jay",2,3,4,5)

'name -> jay,sum of args 14'

# Return Values and Scopes:

In [146]:
# Returning Multiple Values:

# Write a function named min_and_max that takes a list of numbers and returns the minimum and maximum values.
def min_and_max(*args):
    return min(args),max(args)

min_and_max(2,3,4)

(2, 4)

In [148]:
# Local and Global Scopes:

# Create a global variable global_var with a value. Write a function that prints the value of global_var and then defines a local variable with the same name. Print both values inside the function.
global_var=10

def checking(global_var):
    global_var+=1
    return global_var

print(global_var)
print(checking(global_var))
print(global_var)

10
11
10

In [153]:
# Modifying Global Variable:

# Define a global variable counter with an initial value of 0. Write a function named increment that increments the value of counter by 1.
global global_var

global_var=0

def increment(global_var):
    global_var+=1
    return global_var

print(global_var)
print(increment(global_var))
print(global_var)

0
1
0

In [161]:

# Nonlocal Keyword:

# Create a nested function with a local variable. Use the nonlocal keyword to modify the value of the local variable from the outer function.

def outer_fun():
    global_var=0
    print("first",global_var)

    def increment():
        nonlocal global_var

        global_var+=1
        print("inner increment",global_var)

        return global_var
    increment()
    print("second",global_var)

    return global_var

print(outer_fun())

first 0
inner increment 1
second 1
1

In [164]:
# Returning Functions:

# Define a function named get_multiplier that takes a number as an argument and returns a new function. The returned function should take another number and return the product of that number and the original number.


def get_multiplier(num1):
    def product_of_nums(num2):
        return num1*num2
    return product_of_nums

temp=get_multiplier(2)
temp(4)

8

# Lambda Functions (Anonymous Functions):

In [166]:
# Simple Lambda Function:
# Create a lambda function that squares its input.
square =lambda x:x**2
square(3)

9

In [169]:
# Lambda Function in Filter:

# Use a lambda function with the filter function to filter out even numbers from a list.
list(filter(lambda x:x%2==0,range(0,10)))

[0, 2, 4, 6, 8]

In [170]:
# Lambda Function in Map:

# Use a lambda function with the map function to double each element in a list.
list(map(lambda x:x*2,range(0,10)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [177]:
# Lambda Function in Sorting:

# Sort a list of tuples based on the second element using a lambda function.
li1=(2,1,3)
li2=('first','second','third')
sorted(list(zip(li1,li2)),key=lambda x:x[1])

[(2, 'first'), (1, 'second'), (3, 'third')]

In [182]:
# Lambda Function in Reduce:

# Use a lambda function with the functools.reduce function to find the product of elements in a list.

from functools import reduce

reduce(lambda x,y:x*y,range(1,10))

362880

# Built-in Functions and Modules:

In [189]:

# Built-in Functions:

# Use the len, sum, and max functions to find the length, sum, and maximum value of a list.
li=range(0,10)
print(len(li))
print(sum(li))
print(max(li))

10
45
9

In [190]:
# String Functions:

# Use the upper, lower, and replace string methods to modify a given string.
print("Gujarati".upper())
print("Gujarati".lower())
print("Gujarati".replace("u","U"))

GUJARATI
gujarati
GUjarati

In [186]:
# List Functions:

# Use the append, pop, and count list methods to modify and analyze a list.

In [192]:
# Math Module:

# Import the math module and use its functions (sqrt, floor, ceil) to perform mathematical operations.
import math
print(math.sqrt(9))
print(math.floor(2.8))
print(math.ceil(2.8))

3.0
2
3

In [211]:
# Random Module:

# Import the random module and use its functions (randint, choice, shuffle) to generate random numbers and manipulate lists.
import random

print(random.randint(0,10))
li=['gujrati','english','hindi']

print(random.choice(li))
random.shuffle(li)
print(li)

0
hindi
['english', 'hindi', 'gujrati']

In [212]:
def repeat(n):
    def decorator(func):
        def wrapper(*args, **kwargs):
            for _ in range(n):
                result = func(*args, **kwargs)
            return result
        return wrapper
    return decorator

@repeat(n=3)
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")

Hello, Alice!
Hello, Alice!
Hello, Alice!

In [ ]:
def get_Upper_case(func):
    def wrapper(**args,**kwargs):
        print(">>called before function",args,kwargs)
        result = func(**args,**kwargs).upper()
        print(">>called After function",args,kwargs)
        return result
    return wrapper