In [1]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [2]:
zoo_animals=["pangolin","casswary",'Sloth',"lion"]
print(zoo_animals[0])

pangolin

In [3]:
my_list = [1, "Hello", 3.4]
my_list[1][1]

'e'

In [5]:
my_ = ["mouse", [8, 4, 6], ['a']]
my_

['mouse', [8, 4, 6], ['a']]

In [6]:
# indexing
my_=[1,2,3,4,5,6]
print(my_[4])

5

In [7]:
n_ = ["Happy", [2, 0, 1, 5]]
n_

['Happy', [2, 0, 1, 5]]

In [8]:
n_[1][0]

2

In [9]:
n_[1][3]

5

In [10]:
m=["p","r","o","g","r","a","m"]
m

['p', 'r', 'o', 'g', 'r', 'a', 'm']

In [11]:
print(m[-1])

m

In [12]:
print(m[-5])
print(m[-7]==m[0])

o
True

In [13]:
m[1:4]

['r', 'o', 'g']

In [14]:
m[0::2]

['p', 'o', 'r', 'm']

In [15]:
m[::3]

['p', 'g', 'm']

In [16]:
m[1::2]

['r', 'g', 'a']

In [17]:
#methods

In [18]:
odd = [1, 3, 5]
odd

[1, 3, 5]

In [19]:
odd.append(7)

In [20]:
odd

[1, 3, 5, 7]

In [21]:
# odd.append('1')
# odd.clear()
# odd1=odd.copy
# odd.count("num od element we want to find")
# odd.extend([1,2,2,3])
# odd.index("element we want to find index of ele")
# odd.insert(position,value)
# odd.pop()
# odd.pop("index of value we want to remove")
# odd.remove(value)
# odd.reverse()
# odd.sort()

# append() - Add an element to the end of the 
# extend() - Add all elements of a  to the another 
# insert() - Insert an item at the defined index
# remove() - Removes an item from the 
# pop() - Removes and returns an element at the given index
# clear() - Removes all items from the 
# index() - Returns the index of the first matched item
# count() - Returns the count of the number of items passed as an argument
# sort() - Sort items in a  in ascending order
# reverse() - Reverse the order of items in the 
# copy() - Returns a shallow copy of the

In [22]:
odd.clear()

In [23]:
odd

[]

In [24]:
odd.extend([1,2,3,4,5,6])

In [25]:
odd

[1, 2, 3, 4, 5, 6]

In [26]:
del odd[-1]

In [27]:
odd

[1, 2, 3, 4, 5]

In [28]:
odd.remove(1)

In [29]:
odd

[2, 3, 4, 5]

In [30]:
odd.pop()

5

In [31]:
odd

[2, 3, 4]

In [32]:
odd.pop(0)

2

In [33]:
odd

[3, 4]

In [34]:
odd.insert(0,1)

In [35]:
odd

[1, 3, 4]

In [36]:
odd.insert(1,2)

In [37]:
odd

[1, 2, 3, 4]

In [38]:
odd.index(1)

0

In [39]:
odd.index(3)

2

In [40]:
odd.reverse()

In [41]:
odd

[4, 3, 2, 1]

In [42]:
print(odd.count(1))

1

In [43]:
xyz=list([12,43])
xyz
xyz1=list(range(0,10))
xyz1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#  Comprehension:Elegant way to create new

In [44]:
pow=[i**2 for i in range(0,10)]

In [45]:
pow

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
pow2=[2**x for x in range(0,10) if x >5]

In [47]:
pow2

[64, 128, 256, 512]

In [48]:
square=[i**2 for i in range(0,20) if i%2==0]
print(square)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [49]:
odd=[i for i in range(1,21) if i%2==0]

In [50]:
odd

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [51]:
[x+y for x in ['a','b'] for y in ['c','d']]

['ac', 'ad', 'bc', 'bd']

In [52]:
name="jay"
[char.upper() for char in name]

['J', 'A', 'Y']

In [53]:
friends=["jay",'hiren','prince','harshal']
[f.upper() for f in friends]

['JAY', 'HIREN', 'PRINCE', 'HARSHAL']

In [54]:
friends=["jay",'hiren','prince','harshal']
[f[0].upper()+f[1:] for f in friends]

['Jay', 'Hiren', 'Prince', 'Harshal']

In [55]:
evens=[num for num in l if num%2==0]
odds=[num for num in l if num%2!=0]
print(evens,odds)

[2, 4] [1, 3]

In [56]:
numbers=[1,2,3,4,5,6]
[num*2 if num%2==0 else num/2 for num in numbers]

[0.5, 4, 1.5, 8, 2.5, 12]

In [57]:
game=[[1,2,3],[4,5,6],[7,8,9]] 
board=[[print(i) for i in l] for l in game]

1
2
3
4
5
6
7
8
9

In [58]:
# Strip off any commas from the end of strings in a list

[w.strip(',') for w in ['these,', 'words,,', 'mostly', 'have,commas,']]

['these', 'words', 'mostly', 'have,commas']

In [59]:
[[x+y for y in [1,2,3]] for x in [2,3,4]]

[[3, 4, 5], [4, 5, 6], [5, 6, 7]]

In [60]:
[[x+y for x in [1,2,3]] for y in [3,4,5]]

[[4, 5, 6], [5, 6, 7], [6, 7, 8]]

In [61]:
m=[[1,2,3],[4,5,6],[6,7,8]]
m
l=[[print(i) for i in k] for k in m]

1
2
3
4
5
6
6
7
8

In [62]:
l=[1,2,3,4,5]
l1=[6,7,8,9,0]
l3=[2,4,5,6,7]

[(i,j) for i,j in zip(l,l1)]
[(i,j,k) for i,j,k in zip(l,l1,l3)]

[(1, 6, 2), (2, 7, 4), (3, 8, 5), (4, 9, 6), (5, 0, 7)]

In [63]:
row=[]
for i in range(0,10):
    column=[]
    for j in range(0,10):
        column.append(j)
    row.append(column)
print(row)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [64]:
for i in range(1,11):
    row=[]
    for j in range(1,11):
        k=i*j
        row.append(k)
    print(row)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [65]:
[[i*j for j in range(1,11)] for i in range(1,11)]

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [66]:
[[i*j for i in range(1,11,2)] for j in range(1,11)]

[[1, 3, 5, 7, 9],
 [2, 6, 10, 14, 18],
 [3, 9, 15, 21, 27],
 [4, 12, 20, 28, 36],
 [5, 15, 25, 35, 45],
 [6, 18, 30, 42, 54],
 [7, 21, 35, 49, 63],
 [8, 24, 40, 56, 72],
 [9, 27, 45, 63, 81],
 [10, 30, 50, 70, 90]]

# Other  Operations in Python

In [67]:
odd

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [68]:
4 in odd

True

In [69]:
5 in odd

False

In [70]:
abc=["jay","talaviya",'171090107018']
"*_*".join(abc)

'jay*_*talaviya*_*171090107018'

In [71]:
x=[str(i) for i in range(0,10)]
print("-".join(x))
print("*-*".join(x))

0-1-2-3-4-5-6-7-8-9
0*-*1*-*2*-*3*-*4*-*5*-*6*-*7*-*8*-*9

In [72]:
l=[1,2,3,4,5,6,7,8]
3 == l[2]

True

In [73]:
#swapping values in 

name=['jay',"prince"]
name[0],name[1]=name[1],name[0]
name

['prince', 'jay']

In [74]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [75]:
# any and all

# You can use all() to determine if all the values in an iterable evaluate to True

In [76]:
num=[1,1,0,1]
all(num)

False

In [77]:
char=['a','b','c','d']
all(char)

True

In [78]:
nums=[None,None]
all(nums)

False

# Likewise, any() determines if one or more values in an iterable evaluate to True

In [79]:
nums=[1,1,0,1]
any(nums)

True

In [80]:
vals=[None,None]
any(vals)

False

# Reversing  elements

In [81]:
n=[1,2,3,4,5]
rev=reversed(n)

In [82]:
list(rev)

[5, 4, 3, 2, 1]

In [83]:
n[::-1]

[5, 4, 3, 2, 1]

In [84]:
a=[1,2,3,4]
for i in range(len(a)-1,-1,-1):
    print(a[i])

4
3
2
1

# Marging of list

In [87]:
l=[1,2,3]
l2=[4,5,6]
l3=l+l2
print(l3)

[1, 2, 3, 4, 5, 6]

In [88]:
len(l)

3

In [89]:
#replication
b = ["blah"] * 3
b

['blah', 'blah', 'blah']

# Comparison of lists

In [90]:
[1,2,3]<[1,2,4]

True

In [91]:
[1,2,3]<[1,2,3]

False

In [92]:
[1,2,3]<=[1,2,3]

True

In [93]:
[1,2,3]==[1,2,3]

True

In [94]:
[1,2]<[0,3]

False


# Initializing a List to a Fixed Number of Elements

In [95]:
l=[None]*10

In [96]:
l

[None, None, None, None, None, None, None, None, None, None]

In [97]:
l=[1]*10

In [98]:
l

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [100]:
l=[3,4,7,6,9,8,1]

def get_greatest(l):
    greatest=l[0]
    for i in l:
        if greatest > i:
            greatest = greatest
        else:
            greatest = i
    return greatest

def get_lowest(l):
    lowest=l[0]
    for i in l:
        if lowest < i:
            lowest = lowest
        else:
            lowest = i
    return lowest

In [101]:
print(get_greatest(l))
print(get_lowest(l))

9
1

In [102]:
#python practice

In [103]:
# 3. Write a Python program to get the largest number from a lis
n=list(map(int,input().split()))
large=n[0]
for i in n:
    if large<i:
        large=i
    
print(large)

2 2 3 4 5
5

In [157]:
# 4. Write a Python program to get the smallest number from a list. Go to the editor

n=list(map(int,input().split()))
m=n[0]
for i in n:
    if i<m:
        m=i
print(m)

2 3 4 -1
-1

In [107]:
# Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. Go to the editor
# Sample List : ['abc', 'xyz', 'aba', '1221']
    
n=input().split()
count=0
for i in n:
    if len(i)>=2 and i[0]==i[-1]:
        count=count+1
print(count)

abc xz aba 121
2

In [170]:
# find numbers which word have same n last character and first n char
n=input().split()
for i in range(0,len(n)):
    if n[i][0:2]==n[i][-1::-1]:
        print(n[i])

a bc bab
a
bab

In [141]:
a='hello'
print(a[::-1])

olleh

In [143]:
# 6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. Go to the editor
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
l1=list(map(int,input().split()))
l2=list(map(int,input().split()))
l3=[(i,j) for i,j in zip(l1,l2)]
def last(n):
    return n[-1]
l3=sorted(l3,key=last)
print(l3)

1 2 3 5 4
4 3 2 1 6
[(5, 1), (3, 2), (2, 3), (1, 4), (4, 6)]

In [100]:
#  Write a Python program to remove duplicates from a list. 
l1=list(map(int,input().split()))
l1=list(set(l1))

print(l1)

1 2 2 2 3 3 4 3 2
[1, 2, 3, 4]

In [101]:
from copy import copy
l2=l1.copy()
l2

[1, 2, 3, 4]

In [102]:
# 11. Write a Python function that takes two lists and returns True if they have at least one common member. 
def fun(l1,l2):
    for i in range(len(l1)):
        print(l1[i])
        if l1[i] in l2:
            print(True)
            break
    else:
        
        print(False)
fun([5,2,3,4,5],[3,2,4,1,5])

5
True

In [103]:
[[["*" for i in range(6)] for j in range(4)] for k in range(3)]

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

In [104]:
from random import shuffle
color=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(color)
color

['Yellow', 'Black', 'Red', 'Green', 'Pink', 'White']

In [105]:
l1=[1,2,2,3,4]
l2=[1,2,3,3,8]
list(set(l1)-(set(l2)))+list(set(l2)-(set(l1)))

[4, 8]

In [107]:
l1=set(l1)
list(l1)[-1]

4

In [140]:
l1=list(map(str,input().split()))
l2=list(map(int,input().split()))
d={}
for i in l1:
    for j in l2:
        d[i]=j
        l2.remove(j)
        break
        
print(d)

a bc d d
1 2 3 4
{'a': 1, 'bc': 2, 'd': 4}

In [143]:
l1=[]
l2=[]
for i,k in d.items():
    l1.append(i)
    l2.append(k)

l1,l2

(['a', 'bc', 'd'], [1, 2, 4])

In [161]:
d = input().split()
okay=True
while okay:
    if len(d)%2!=0:
        d = input().split()
    else:
        okay=False

1 2 3 4

In [108]:
d={'a':1,"b":2,"c":3}
for k in sorted(d):
    print(k,d[k])

a 1
b 2
c 3