In [2]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [3]:
zoo_animals=["pangolin","casswary",'Sloth',"lion"]
print(zoo_animals[0])

pangolin

In [5]:
my_list = [1, "Hello", 3.4]
my_list

[1, 'Hello', 3.4]

In [118]:
my_ = ["mouse", [8, 4, 6], ['a']]
my_

['mouse', [8, 4, 6], ['a']]

In [119]:
# indexing
my_=[1,2,3,4,5,6]
print(my_[4])

5

In [120]:
n_ = ["Happy", [2, 0, 1, 5]]
n_

['Happy', [2, 0, 1, 5]]

In [121]:
n_[1][0]

2

In [122]:
m=["p","r","o","g","r","a","m"]
m

['p', 'r', 'o', 'g', 'r', 'a', 'm']

In [123]:
print(m[-1])

m

In [124]:
print(m[-5])

o

In [125]:
m[1:4]

['r', 'o', 'g']

In [126]:
m[0::2]

['p', 'o', 'r', 'm']

In [127]:
m[::3]

['p', 'g', 'm']

In [128]:
m[1::2]

['r', 'g', 'a']

In [129]:
#methods

In [130]:
odd = [1, 3, 5]
odd

[1, 3, 5]

In [131]:
odd.append(7)

In [132]:
odd

[1, 3, 5, 7]

In [133]:
# odd.append('1')
# odd.clear()
# odd1=odd.copy
# odd.count("num od element we want to find")
# odd.extend([1,2,2,3])
# odd.index("element we want to find index of ele")
# odd.insert(position,value)
# odd.pop()
# odd.pop("index of value we want to remove")
# odd.remove(value)
# odd.reverse()
# odd.sort()

# append() - Add an element to the end of the 
# extend() - Add all elements of a  to the another 
# insert() - Insert an item at the defined index
# remove() - Removes an item from the 
# pop() - Removes and returns an element at the given index
# clear() - Removes all items from the 
# index() - Returns the index of the first matched item
# count() - Returns the count of the number of items passed as an argument
# sort() - Sort items in a  in ascending order
# reverse() - Reverse the order of items in the 
# copy() - Returns a shallow copy of the

In [134]:
odd.clear()

In [135]:
odd

[]

In [136]:
odd.extend([1,2,3,4,5,6])

In [137]:
odd

[1, 2, 3, 4, 5, 6]

In [138]:
del odd[-1]

In [139]:
odd

[1, 2, 3, 4, 5]

In [140]:
odd.remove(1)

In [141]:
odd

[2, 3, 4, 5]

In [142]:
odd.pop()

5

In [143]:
odd

[2, 3, 4]

In [144]:
odd.pop(0)

2

In [145]:
odd

[3, 4]

In [146]:
odd.insert(0,1)

In [147]:
odd

[1, 3, 4]

In [148]:
odd.insert(1,2)

In [149]:
odd

[1, 2, 3, 4]

In [150]:
odd.index(1)

0

In [151]:
odd.index(3)

2

In [152]:
odd.reverse()

In [153]:
odd

[4, 3, 2, 1]

#  Comprehension:Elegant way to create new

In [154]:
pow=[i**2 for i in range(0,10)]

In [155]:
pow

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [156]:
pow2=[2**x for x in range(0,10) if x >5]

In [157]:
pow2

[64, 128, 256, 512]

In [158]:
odd=[i for i in range(1,21) if i%2==0]

In [159]:
odd

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [160]:
[x+y for x in ['a','b'] for y in ['c','d']]

['ac', 'ad', 'bc', 'bd']

In [161]:
name="jay"
[char.upper() for char in name]

['J', 'A', 'Y']

In [162]:
friends=["jay",'hiren','prince','harshal']
[f.upper() for f in friends]

['JAY', 'HIREN', 'PRINCE', 'HARSHAL']

In [163]:
friends=["jay",'hiren','prince','harshal']
[f[0].upper()+f[1:] for f in friends]

['Jay', 'Hiren', 'Prince', 'Harshal']

In [164]:
evens=[num for num in l if num%2==0]
odds=[num for num in l if num%2!=0]
print(evens,odds)

[2, 4, 6, 8] [1, 3, 5, 7]

In [165]:
numbers=[1,2,3,4,5,6]
[num*2 if num%2==0 else num/2 for num in numbers]

[0.5, 4, 1.5, 8, 2.5, 12]

In [166]:
game=[[1,2,3],[4,5,6],[7,8,9]]
board=[[print(i) for i in l] for l in game]

1
2
3
4
5
6
7
8
9

In [9]:
# Strip off any commas from the end of strings in a list

[w.strip(',') for w in ['these,', 'words,,', 'mostly', 'have,commas,']]

['these', 'words', 'mostly', 'have,commas']

In [41]:
[x+y for x in [1,2,3] for y in [2,3,4]]

[3, 4, 5, 4, 5, 6, 5, 6, 7]

In [42]:
[[x+y for x in [1,2,3]] for y in [3,4,5]]

[[4, 5, 6], [5, 6, 7], [6, 7, 8]]

In [43]:
m=[[1,2,3],[4,5,6],[6,7,8]]
m
l=[[print(i) for i in k] for k in m]

1
2
3
4
5
6
6
7
8

In [44]:
l=[1,2,3,4,5]
l1=[6,7,8,9,0]
l3=[2,4,5,6,7]
[(i,j) for i,j in zip(l,l1)]
[(i,j,k) for i,j,k in zip(l,l1,l3)]

[(1, 6, 2), (2, 7, 4), (3, 8, 5), (4, 9, 6), (5, 0, 7)]

# Other  Operations in Python

In [167]:
odd

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [168]:
4 in odd

True

In [169]:
5 in odd

False

In [170]:
abc=["jay","talaviya"]
"*_*".join(abc)

'jay*_*talaviya'

In [171]:
l=[1,2,3,4,5,6,7,8]
3 is l[2]

True

In [172]:
#swapping values in 

name=['jay',"prince"]
name[0],name[1]=name[1],name[0]
name

['prince', 'jay']

In [173]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [174]:
# any and all

# You can use all() to determine if all the values in an iterable evaluate to True

In [175]:
num=[1,1,0,1]
all(num)

False

In [176]:
char=['a','b','c','d']
all(char)

True

In [177]:
nums=[None,None]
all(nums)

False

# Likewise, any() determines if one or more values in an iterable evaluate to True

In [178]:
nums=[1,1,0,1]
any(nums)

True

In [179]:
vals=[None,None]
any(vals)

False

# Reversing  elements

In [1]:
n=[1,2,3,4,5]
rev=reversed(n)

In [2]:
list(rev)

[5, 4, 3, 2, 1]

In [4]:
n[::-1]

[5, 4, 3, 2, 1]

# Marging of list

In [6]:
l=[1,2,3]
l2=[4,5,6]
l3=l+l2
print(l3)

[1, 2, 3, 4, 5, 6]

In [45]:
len(l)

5

In [25]:
#replication
b = ["blah"] * 3
b

['blah', 'blah', 'blah']

# Comparison of lists

In [32]:
[1,2,3]<[1,2,4]

True

In [27]:
[1,2,3]<[1,2,3]

False

In [28]:
[1,2,3]<=[1,2,3]

True

In [30]:
[1,2,3]==[1,2,3]

True

In [31]:
[1,2]<[0,3]

False


# Initializing a List to a Fixed Number of Elements

In [34]:
l=[None]*10

In [35]:
l

[None, None, None, None, None, None, None, None, None, None]

In [39]:
l=[1]*10

In [40]:
l

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

1
2
3
2
3
5

[[None, None, None], [None, None, None]]