In [3]:
a=int(input())
if a%2 == 0: #checking divisiblity by 2
	print("Your number is even")
else:
	print("Your number is odd")

2
Your number is even

In [4]:
l=int(input("enter length"))
b=int(input("enter bredth"))
if l==b:
    print("this is square")
else:
    print("this is not square")

enter length2
enter bredth4
this is not square

In [8]:
p1=int(input("enter num1"))
p2=int(input("enter num2"))
if p1>p2:
    print(f'{p1} is greater then {p2}')
elif p2<p1:
    print(f'{p2} is greater then {p1}')
else:
    print("both are same")

enter num12
enter num22
both are same

In [13]:
q=int(input("enter quentity"))
if q>1000:
    p=q-q/10
    print(f'{p} is value you have to pay')
else:
    print("you have no additional discaunt")

enter quentity1200
1080.0 is value you have to pay

In [15]:
user_ex=float(input("enter your expireance"))
salary=float(input("enter your salary"))

if user_ex>5:
    salary=salary+salary/5
    print(f'your net salary is {salary}')
else:
    print(f'your net salary is {salary}')

enter your expireance5.6
enter your salary5000
your net salary is 6000.0

In [20]:
user=int(input("enter your marks"))
if user>80:
    print("A")
elif 60<user<=80:
    print("B")
elif 50<user<=60:
    print("C")
elif 45<user<=50:
    print("D")
elif 25<user<=45:
    print("E")
elif user<=25:
    print("F")

enter your marks70
B

In [24]:
user1=int(input("user1"))
user2=int(input("user2"))
user3=int(input("user3"))
if user1>user2 and user1>user3:
    if user2>user3:
        print(f'{user1} is older,{user3} is younger')
    else:
        print(f'{user1} is older,{user2} is younger')
elif user2>user1 and user2>user3:
    if user1>user3:
        print(f'{user2} is older,{user3} is younger')
    else:
        print(f'{user2} is older,{user1} is younger')
elif user3>user1 and user3>user2:
    if user1>user2:
        print(f'{user3} is older,{user2} is younger')
    else:
        print(f'{user3} is older,{user1} is younger')
else:
    print("they are same age")

user12
user22
user32
they are same age

# real loooppsss

In [26]:
i=1
while i<5:
    print(i*i)
    i+=1

1
4
9
16

In [27]:
i=5
while i>0:
    print("hello")
    i-=1

hello
hello
hello
hello
hello

In [ ]:
a=True
while(True):
    print("this is run")
a=False

In [33]:
a=10
b=5
while a!=b:
    while b>0:
        print(f'{b} now')
        b-=1
    a-=1

5 now
4 now
3 now
2 now
1 now

In [37]:
i=0
num1=0
while i<10:
    num=int(input())
    num1=num1+num
    
    i+=1
print(num1/i)

1
2
3
4
5
6
7
8
9
0
4.5

In [38]:
i=0
while i<5:
    print('*'*i)
    i+=1

*
**
***
****

In [58]:
i=1
j=2
# k=" "*i+"*"*j+" "*i
while j>=1:
    print(" "*j+"*"*i+" "*j)
    j-=1
    i+=1
    if i>5:
        break

  *
 **

In [60]:
i=1
while i<=10:
    print(i*24)
    i+=1

24
48
72
96
120
144
168
192
216
240

In [74]:
n=int(input())
fact=1
if n==0:
    print(1)

else:
    while(n>=1):
        fact=fact*n
        n=n-1
    print(fact)

4
24

In [75]:
mark=[1,2,3,4,5]
for m in mark:
    print(m)

1
2
3
4
5

In [76]:
mark=[1,2,3,4,5]
sum=0
for m in mark:
    sum=sum+m
print(sum)

15

In [88]:
marks=[i*12 for i in range(1,11)]

In [89]:
mark2=[]
j=1
for i in marks:
    mark2.append(i+j)
    j=j+1
print(mark2)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]

In [92]:
n=int(input("enter nth length"))
m=[]
while n>0:
    j=int(input())
    m.append(j)
    n-=1
print(m)
s=int(input("enter num for search"))
if s in m:
    print(f'yes found {s}')
    m.remove(s)
print(m)

enter nth length3
1
2
3
[1, 2, 3]
enter num for search2
yes found 2
[1, 3]

In [102]:
l=[i*12 for i in range(1,11)]
l

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [107]:
k=1
for j in l:
#     print(j)
    print(f'14 x {k}={14*k}')
    k=k+1

14 x 1=14
14 x 2=28
14 x 3=42
14 x 4=56
14 x 5=70
14 x 6=84
14 x 7=98
14 x 8=112
14 x 9=126
14 x 10=140

In [113]:
l=5
for i in range(1,l+1):
    print('*'*i)

*
**
***
****
*****

In [118]:
l=5
for i in range(0,l):
    k=l-i
    print("*"*k)

*****
****
***
**
*

In [123]:
i=5
j=4
for i in range(0,i):
    print(" "*j+"*"*i+" "*j)
    j=j-1

   *
  **
 ***
****

In [145]:
l=5
for i in range(1,l):
    for j in range(0,i):
        k=l-j
    print(" "*k+" *"*i+" "*k)

      *
     * *
    * * *
   * * * *

In [156]:
l=5
for i in range(1,l):
    for j in range(0,i+1):
        k=l-j
    print(" "*i+" *"*k+" "*i)

  * * * *
   * * *
    * *
     *

In [157]:
l=5
for i in range(1,l):
    for j in range(0,i):
        k=l-j
    print(" "*k+" *"*i+" "*k)
for i in range(1,l):
    for j in range(0,i+1):
        k=l-j
    print(" "*i+" *"*k+" "*i)

      *
     * *
    * * *
   * * * *
  * * * *
   * * *
    * *
     *