In [1]:
t=('a','b','c')

In [2]:
t

('a', 'b', 'c')

In [3]:
type(t)

tuple

In [8]:
t1='a' #or t1=('a')

In [9]:
type(t1)

str

In [10]:
t1='a',# or t1=('a',) #comma
type(t1)

tuple

In [11]:
t=tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')

# Tuples are immutable

In [12]:
t=(1,2,3)

In [14]:
t[1]=3 #errror coz immatable

TypeError: 'tuple' object does not support item assignment

tuples don't have .append and .extend methods as list does. 
 Using += is possible, but it changes the
binding of the variable, and not the tuple itself:

In [15]:
t1=(1,2,3)
t2=(2,3,4)
t3=t1+t2
t3

(1, 2, 3, 2, 3, 4)

In [16]:
t1=(1,2,3,[4,5])

In [20]:
t1[3][1]

5

# Packing and Unpacking Tuples

In [21]:
a=1,2,3

In [22]:
type(a)

tuple

In [23]:
a=(1,2,3)
type(a)

tuple

In [24]:
#to unpack

In [25]:
x,y,z=(1,2,3)

In [33]:
x,y

(1, 2)

In [34]:
first,*more,last=(1,2,3,4,5)

In [36]:
print(first," ",more," ",last)

1   [2, 3, 4]   5

# Built-in Tuple Functions

In [37]:
#Comparision

In [94]:
t1=('a','b','c')
t2=('1','2','3')
t3=('a','b','c')

In [55]:
print(t1==t2,t2==t3,t1==t3)

False False True

In [56]:
len(t1)

3

In [57]:
max(t1)

'c'

In [58]:
max(t2)

'3'

In [59]:
min(t2)

'1'

In [60]:
min(t1)

'a'

In [61]:
#convert into list

In [64]:
l=[1,2,3]
t1=tuple(l)
t1

(1, 2, 3)

In [65]:
l=list(t1)

In [66]:
l

[1, 2, 3]

In [67]:
#contcate

In [68]:
t1+t2

(1, 2, 3, '1', '2', '3')

# Tuple Are Element-wise Hashable and Equatable

In [69]:
hash((1,2))

3713081631934410656

In [71]:
hash([1,2],{1,2})#not hasable

TypeError: hash() takes exactly one argument (2 given)

In [72]:
#indexing

In [73]:
x=(1,2,3)

In [74]:
x[1],x[2]

(2, 3)

In [80]:
print(x[::-1])

(3, 2, 1)

In [81]:
#reversed

In [83]:
rev=tuple(reversed(t1))

In [84]:
rev

(3, 2, 1)

In [87]:
#count
t1.count(1)

1

In [88]:
t2.count("1")

1

In [89]:
#index

In [90]:
t1.index(1)

0

In [96]:
del t3

In [97]:
t3

NameError: name 't3' is not defined