In [1]:
t=('a','b','c')

In [2]:
t

('a', 'b', 'c')

In [3]:
type(t)

tuple

In [4]:
t1='a' #or t1=('a')

In [5]:
type(t1)

str

In [6]:
t1='a',# or t1=('a',) #comma
type(t1)

tuple

In [1]:
t=tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')

In [11]:
hash(t[0])

5788740599868582975

In [13]:
hash(t)

2346410397195360086

In [16]:
t=(1,2,3)

# Tuples are immutable

In [33]:
t=(12,24,56,23)
hash(t)

8033417708039579176

In [34]:
n=2

In [35]:
t=t[:n]+('test',)+t[n+1:]

In [36]:
t
hash(t)

9175710358745013528

In [9]:
t[1]=3 #errror coz immatable

TypeError: 'tuple' object does not support item assignment

tuples don't have .append and .extend methods as list does. 
 Using += is possible, but it changes the
binding of the variable, and not the tuple itself:

In [13]:
t1=(1,2,3)
t2=(2,3,4)
t3=t1+t2
t3

(1, 2, 3, 2, 3, 4)

In [14]:
t1=(1,2,3,[4,5])

In [15]:
t1[3][1]

5

# Packing and Unpacking Tuples

In [16]:
a=1,2,3

In [17]:
type(a)

tuple

In [19]:
a=(1,2,3)
type(a)

tuple

In [20]:
#to unpack

In [22]:
x,y,z=(1,2,3)

In [23]:
x,y

(1, 2)

In [24]:
first,*more,last=(1,2,3,4,5)

In [26]:
print(first," ",more," ",last)

1   [2, 3, 4]   5

# Built-in Tuple Functions

In [27]:
#Comparision

In [32]:
t1=('a','b','c')
t2=('1','2','3')
t3=('a','b','c')

In [33]:
print(t1==t2,t2==t3,t1==t3)

False False True

In [34]:
len(t1)

3

In [35]:
max(t1)

'c'

In [36]:
max(t2)

'3'

In [37]:
min(t2)

'1'

In [38]:
min(t1)

'a'

In [39]:
#convert into list

In [40]:
l=[1,2,3]
t1=tuple(l)
t1

(1, 2, 3)

In [45]:
l=list(t1)

In [46]:
l

[1, 2, 3]

In [47]:
#contcate

In [48]:
t1+t2

(1, 2, 3, '1', '2', '3')

# Tuple Are Element-wise Hashable and Equatable

In [49]:
hash((1,2))

3713081631934410656

In [54]:
hash([1,2],{1,2})#not hasable

TypeError: hash() takes exactly one argument (2 given)

In [55]:
#indexing

In [56]:
x=(1,2,3)

In [58]:
x[1],x[2]

(2, 3)

In [61]:
print(x[::-1])

(3, 2, 1)

In [62]:
#reversed

In [67]:
rev=tuple(reversed(t1)),reversed(t1)

In [69]:
rev

((3, 2, 1), <reversed at 0x17eb3df5630>)

In [70]:
#count
t1.count(1)

1

In [71]:
t2.count("1")

1

In [72]:
#index

In [73]:
t1.index(1)

0

In [74]:
del t3

In [75]:
t3

NameError: name 't3' is not defined

In [76]:
a = 'a', 10, True

In [77]:
a[1]

10

In [78]:
a

('a', 10, True)

In [79]:
a = 1, 2, 3, 4, 5
a[2:4]

(3, 4)

In [80]:
a = 1, 2, 3, 4, 5
for element in a:
    print(element)

1
2
3
4
5

In [86]:
point = 10, 20, 30

In [87]:
x, y, z = point
print(x)

10

In [88]:
print(y)
print(z)

20
30

In [94]:
a = 1, 2, 3

In [95]:
id(a)

1643695229256

In [96]:
a = a + (4, 5, 6)

In [97]:
a

(1, 2, 3, 4, 5, 6)

In [98]:
id(a)

1643695223528